*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-image: linear-gradient(to bottom right, rgb(194, 194, 209), rgb(58, 65, 63));
  background-repeat: no-repeat;
}

main{
  width: fit-content;
  /* border: 1px solid red; */
  background-color: rgb(90, 96, 96);
  margin: 50px auto 0;
  padding: 20px;
}

input[type=text]{
  width: 200px;
  height: 30px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.add_task{
  background-color: rgb(212, 58, 58);
  border: none;
  color: white;
  padding:  0 10px;
  height: 30px;
}

#list{
  list-style: none;
}

.list_item{
  width: 275px;
  background-color: rosybrown;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}